*.pyc
*.d
*.so
*.pcm
*~
*.root
core.*
__init__.py
*/compare
config.json
PicoProducer/config
PicoProducer/config/config*
PicoProducer/config/config.json
PicoProducer/samples/files
PicoProducer/output
Plotter/plots
Plotter/python/corrections/JetToTauFR/plots
Fitter/*/*plots*
Fitter/*/log
Fitter/Zpt/weights
