*.pyc
*.bak
*.d
*.so
*.pcm
*~
*.root
core.*
__init__.py
*/compare
config.json
PicoProducer/config
PicoProducer/config/config*
PicoProducer/config/config.json
PicoProducer/samples/files
PicoProducer/output
PicoProducer/python/batch/
# PicoProducer/samples
Plotter/plots
Plotter/tutorial
Plotter/DM_MatchPlots
Plotter/*Matches*.yml
Plotter/genDMplot.py
Plotter/openCanvas*
Plotter/config/*MyV*
Plotter/ConfusionMatrix*
Plotter/MuTau_mvisroot.txt
Plotter/.ipynb_checkpoints/*
Plotter/*MyV*
Fitter/*/*plots*
Fitter/*/log
Fitter/Zpt/weights
