## Config file for default TES fit in mutau channel
##

channel: mutau

baselineCuts: "(q_1*q_2<0) && iso_1<0.15 && idDecayModeNewDMs_2 && idDeepTau2017v2p1VSjet_2>=32 && idDeepTau2017v2p1VSe_2>=2 && idDeepTau2017v2p1VSmu_2>=8 && !lepton_vetoes_notau && metfilter"

regions:
    signalRegion: "mt_1<50"
    DM0: "mt_1<50 && dm_2==0"
    DM1: "mt_1<50 && dm_2==1"
    DM10: "mt_1<50 && dm_2==10"
    DM11: "mt_1<50 && dm_2==11"

observables:
    m_vis:
        binning: [8, 50, 106]
        title: "m_vis"
        extra:
            cut: "50<m_vis && m_vis<106"
        fitRegions: [DM0, DM1, DM10, DM11]
    m_2:
        binning: [13, 0.3, 1.6]
        title: "m_tau_h"
        extra:
            cut: "0.3<m_2 && m_2<1.6"
            ccut: 
                "dm_2==1(?!0)(?!1)": "0.35<m_2 && m_2<1.20"
                "dm_2==10":          "0.83<m_2 && m_2<1.43"
                "dm_2==11":          "0.93<m_2 && m_2<1.53"
            veto: "dm_2==0"
        fitRegions: [DM1, DM10, DM11]

TESvariations:
    values: [0.970, 0.972, 0.974, 0.976, 0.978, 0.980, 0.982, 0.984, 0.986, 0.988, 0.990, 0.992, 0.994, 0.996, 0.998, 1.000, 1.002, 1.004, 1.006, 1.008, 1.010, 1.012, 1.014, 1.016, 1.018, 1.020, 1.022, 1.024, 1.026, 1.028, 1.030]
    processes: ["ZTT"]

fitSpecs:
    doBBB: doShapes
    signalBBB: True


samples:
    filename: "$PICODIR/$SAMPLE_$CHANNEL$TAG.root"
    join: ["VV","TT","ST"]
    split:
        DY: [ ["ZTT","genmatch_2==5"], ["ZL","genmatch_2>0 && genmatch_2<5"], ["ZJ","genmatch_2==0"] ]
        TT: [["TTT","genmatch_2==5"], ["TTL","genmatch_2>0 && genmatch_2<5"], ["TTJ","genmatch_2==0"] ]
        #ST: [("STT","genmatch_2==5"),("STJ","genmatch_2<5")]
    rename:
        WJ: "W"
    data: "data_obs"

processes: ["ZTT","ZL","ZJ","W","VV","ST","TTT","TTL","TTJ","QCD","data_obs"]

systematics:
    LTF:
        effect: "shape"
        processes: ["ZL", "TTL"]
        name: "shape_mTauFake_$BIN"
        title: "+/- 2% LTF shape"
        variations: ["Up", "Down"]
        sampleAppend: ["_LTFUp","_LTFDown"]
    JTF:
        effect: "shape"
        processes: ["ZJ", "TTJ", "W"]
        name: "shape_jTauFake_$BIN"
        title: "+/- 5% JTF"
        variations: ["Up", "Down"]
        sampleAppend: ["_JTFUp","_JTFDown"]
    shape_tid:
        effect: "shape"
        processes: ["ZTT", "TTT"]            
        name: "shape_tid"
        title: "TID shape syst"
        variations: ["Up", "Down"]
        nomWeight: "idweight_2"
        altWeights: ["idweightUp_2", "idweightDown_2"]
    shape_mTauFake:
        effect: "shape"
        processes: ["ZL", "TTL"]
        name: "shape_mTauFakeSF"
        title: "LTF rate syst"
        variations: ["Up", "Down"]
        nomWeight: "ltfweight_2"
        altWeights: ["ltfweightUp_2", "ltfweightDown_2"]
    shape_dy:
        effect: "shape"
        processes: ["ZTT", "ZL", "ZJ"]
        name: "shape_dy"
        title: "+/- 10% Zptweight"
        variations: ["Up", "Down"]
        nomWeight: "zptweight"
        altWeights: ["(zptweight+0.1*(zptweight-1))", "(zptweight-0.1*(zptweight-1))"]
    lumi:
        effect: "lnN"
        processes: ["ZTT", "ZL", "ZJ", "TTT", "TTL", "TTJ", "W", "ST", "VV"]
        scaleFactor: 1.025
    eff_m:
        effect: "lnN"
        processes: ["ZTT", "ZL", "ZJ", "TTT", "TTL", "TTJ", "W", "ST", "VV"]
        scaleFactor: 1.02
    xsec_dy:
        effect: "lnN"
        processes: ["ZTT", "ZL", "ZJ"]
        scaleFactor: 1.02
    xsec_tt:
        effect: "lnN"
        processes: ["TTT", "TTL", "TTJ"]
        scaleFactor: 1.06
    xsec_st:
        effect: "lnN"
        processes: ["ST"]
        scaleFactor: 1.05
    xsec_vv:
        effect: "lnN"
        processes: ["VV"]
        scaleFactor: 1.05
    norm_wj:
        effect: "lnN"
        processes: ["W"]
        scaleFactor: 1.08
    norm_qcd:
        effect: "lnN"
        processes: ["QCD"]
        scaleFactor: 1.10
    rate_jTauFake_$BIN:
        effect: "lnN"
        processes: ["W","QCD","ZJ","TTJ","STJ"]
        scaleFactor: 1.15

scaleFactors:
    WNFs:
        processes: ["W"]
        values:
            'UL2016_preVFP': { 'DM0': 0.939,  'DM1': 1.031,  'DM10': 1.065,  'DM11': 1.021  }
            'UL2016_postVFP': { 'DM0': 0.919,  'DM1': 0.972,  'DM10': 1.112,  'DM11': 1.074  }
            'UL2017': { 'DM0': 0.971,  'DM1': 0.995,  'DM10': 1.109,  'DM11': 1.075  }
            'UL2018': { 'DM0': 1.007,  'DM1': 0.968,  'DM10': 1.079,  'DM11': 1.044  }
